{% extends 'account/base.html' %}
{% load static %}

{% block content %}


<style>
    
        .profile-pic{
            max-width: 200px;
            max-height:200px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a class = "btn btn-warning " href="{% url 'dashboard' %}"> &#8592; Back to Profile</a>
                <hr>
                <h5 class = 'text-center'>Profile Pic</h5>
                <hr>
                <img class = 'profile-pic' src="{{request.user.customer.profile_pic.url}}" alt="Profile">
            </div>
        </div>

        <div class="col-md-9 mb-3">
            <div class="card card-body">    
                <form action="" method = 'POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </div>
        </div>

    </div>
</div>


    
{% endblock content %}
    