


{% extends "account/base.html" %}
{% load static %}



<!--Block Content -->
{% block content %}

<!-- Cards -->
<section id="card">
    <div class="container-fluid  mt-4">
        <div class="row">
            <div class="col-md-3 col-lg-4 ">
                    <div class="card bg-info" style="width: 20rem; height: 10rem;">
                            <div class="card-body text-center text-light">
                              <h5 class="card-title">Total Orders</h5>
                              <hr>
                              <h4 class=" text-center text-light">{{orders_count}}</h4>
                              <p class="card-text"></p>                              
                            </div>
                    </div>
            </div>
            <div class="col-md-3 col-lg-4">
                    <div class="card bg-info" style="width: 20rem;height : 10rem;">
                            <div class="card-body text-center text-light">
                              <h5 class="card-title">Orders Delivered</h5>
                              <hr>
                              <h4 class=" text-center text-light">{{orders_delivered}}</h4>
                              <p class="card-text"></p>                              
                            </div>
                    </div>
            </div>
            <div class="col-md-3 col-lg-4">
                    <div class="card bg-info" style="width: 20rem; height: 10rem;">
                            <div class="card-body text-center text-light">
                              <h5 class="card-title">orders Pending</h5>
                              <hr>
                                <h4 class=" text-center text-light">{{orders_pending}}</h4>
                              <p class="card-text"></p>                              
                            </div>
                    </div>
            </div>
        </div>
    </div>  

</section>
<!-- End Cards -->

<!-- Tables -->
<section id="tables">
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-4" >
                <p class="h3 text-center">Cutomers</p>
                <hr>
                <a class="btn btn-success text-white btn-block " href="">Create Customer</a>
                <table class='table table-hover '>
                    <thead>
                        <th></th>
                        <th>Customer</th>
                        <th>Phone</th>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        
                        <tr>
                            <td><a href="{{customer.get_absolute_url}}">View</a></td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                        </tr> 
                                          
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                    <p class="h3 text-center">Last 5 Orders</p>
                    <hr>
                    <a class="btn btn-success text-white btn-block " href="{% url 'create_order' %}">Create Orders</a>
                    <table class='table table-hover '>
                        <thead>
                            <th>Product</th>
                            <th>Date Ordered</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.product}}</td>
                            <td>{{order.date_ordered}}</td>
                            <td>{{order.status}}</td>
                            <td><button type="button" class="btn btn-secondary "><a href="{% url 'update_order' order.id %}" class = 'text-white'> Update </a></button></td>
                            <td><button type="button" class="btn btn-danger "><a href="{% url 'delete_order' order.id %}" class = 'text-white'> Remove </a></button></td>

                        </tr>                    
                        {% endfor %}
                            
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>
<!-- End Tables -->

{% endblock content %}
<!-- End Block Content -->